@-webkit-keyframes spincube {
  from,to {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16% {
    -webkit-transform: rotateY(-180deg) rotateZ(90deg); }
  33% {
    -webkit-transform: rotateY(-90deg) rotateZ(0deg); }
  50% {
    -webkit-transform: rotateY(-180deg) rotateZ(90deg); }
  66% {
    -webkit-transform: rotateY(-270deg) rotateX(90deg); }
  83% {
    -webkit-transform: rotateX(90deg); } }
@keyframes spincube {
  from,to {
    -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  16% {
    -moz-transform: rotateY(-180deg) rotateZ(90deg);
    -ms-transform: rotateY(-180deg) rotateZ(90deg);
    transform: rotateY(-180deg) rotateZ(90deg); }
  33% {
    -moz-transform: rotateY(-90deg) rotateZ(0deg);
    -ms-transform: rotateY(-90deg) rotateZ(0deg);
    transform: rotateY(-90deg) rotateZ(0deg); }
  50% {
    -moz-transform: rotateY(-180deg) rotateZ(90deg);
    -ms-transform: rotateY(-180deg) rotateZ(90deg);
    transform: rotateY(-180deg) rotateZ(450deg); }
  66% {
    -moz-transform: rotateY(-270deg) rotateX(90deg);
    -ms-transform: rotateY(-270deg) rotateX(90deg);
    transform: rotateY(180deg) rotateX(360deg); }
  83% {
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    transform: rotateX(90deg); } }
.cubespinner {
  -webkit-animation-name: spincube;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 12s;
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 150px 150px 0;
  -moz-transform-origin: 150px 150px 0;
  -ms-transform-origin: 150px 150px 0;
  transform-origin: 150px 150px 0; }

.stage {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px; }

.cubespinner div {
  position: absolute;
  width: 300px;
  height: 300px; }

.cubespinner .face1 {
  background: url(images/icon1.png);
  background-size: 100% 100%;
  -webkit-transform: translateZ(150px);
  -moz-transform: translateZ(150px);
  -ms-transform: translateZ(150px);
  transform: translateZ(150px); }

.cubespinner .face2 {
  background: url(images/icon2.png);
  background-size: 100% 100%;
  -webkit-transform: rotateY(90deg) translateZ(150px);
  -moz-transform: rotateY(90deg) translateZ(150px);
  -ms-transform: rotateY(90deg) translateZ(150px);
  transform: rotateY(90deg) translateZ(150px); }

.cubespinner .face3 {
  background: url(images/icon3.png);
  background-size: 100% 100%;
  -webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(150px);
  -moz-transform: rotateY(90deg) rotateX(90deg) translateZ(150px);
  -ms-transform: rotateY(90deg) rotateX(90deg) translateZ(150px);
  transform: rotateY(90deg) rotateX(90deg) translateZ(150px); }

.cubespinner .face4 {
  background: url(images/icon4.png);
  background-size: 100% 100%;
  -webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(150px);
  -moz-transform: rotateY(180deg) rotateZ(90deg) translateZ(150px);
  -ms-transform: rotateY(180deg) rotateZ(90deg) translateZ(150px);
  transform: rotateY(180deg) rotateZ(90deg) translateZ(150px); }

.cubespinner .face5 {
  background: url(images/icon5.png);
  background-size: 100% 100%;
  -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(150px);
  -moz-transform: rotateY(-90deg) rotateZ(90deg) translateZ(150px);
  -ms-transform: rotateY(-90deg) rotateZ(90deg) translateZ(150px);
  transform: rotateY(-90deg) rotateZ(90deg) translateZ(150px); }

.cubespinner .face6 {
  background: url(images/icon6.png);
  background-size: 100% 100%;
  -webkit-transform: rotateX(-90deg) translateZ(150px);
  -moz-transform: rotateX(-90deg) translateZ(150px);
  -ms-transform: rotateX(-90deg) translateZ(150px);
  transform: rotateX(-90deg) translateZ(150px); }

/*# sourceMappingURL=cube.css.map */
